body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #06328a;
    font-family: Arial, sans-serif;
}

.watch {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#time {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

